@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1 style="text-align: center; font-size: 60px; font-family: Klasted;">EV5.MVC</h1>
                <h2>ASP.NET MVC View Engine and utility library for .NET CORE 5</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    @*<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>*@
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>About <strong style="font-family: Klasted"> EV5.Mvc</strong></h2>
        </div>
        <div class="row content">
            <p>EV5 Mvc is a custom view engine for the latest ASP.NET MVC on .NET Core 5. It is built on a different paradigm than Razor, Blazor and the current view engines. </p>
            <br />
        </div>
        <div class="row content">
            <div class="col-lg-6">
                <p>EV5.Mvc library contains:</p>
                <ul>
                    <li>
                        <i class="ri-check-double-line"></i> Plugin system that does not require separate static file deployment
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i>Utilities to serve embedded static content (images, css, etc...).
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i>A View Engine that uses static embedded html as markup and a separate c# view class for markup (DOM) manipulation.
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>EV5.Mvc promotes a back to basics common sense approach:</p>
                <ul>
                    <li>
                        <i class="ri-check-double-line"></i>Easy drag and drop application deploy and extensibilty
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i>Full Separation of server side control and markup
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i>Opt-in view processing
                    </li>
                </ul>
                @*<a href="#" class="btn-learn-more">Learn More</a>*@
            </div>
        </div>
    </div>
</section>
<!-- End About Us Section -->
<!-- ======= Features Section ======= -->
<section id="features" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
                <div class="content">
                    <h3>Main Features of <strong style="font-family: Klasted"> EV5.Mvc</strong></h3>
                    <p>
                        EV5.Mvc is trying to promote a clean transparent apporach to constructung the html markup, where only the necessary processing is happening. It is easy to deploy to and extend web applications without interfiering with existing code, thus it is ideal for quick prototyping and fast project setup.
                    </p>
                </div>
                <div class="accordion-list" id="featuresAcc1">
                    <ul>
                        <li>
                            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Extending an existing MVC app <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show content" data-bs-parent="#featuresAcc1">
                                <p>
                                    Extedning an existing ASP.NET MVC application with EV5.Mvc is easy, and it will not need any static file deployment. Adding new functionality and endpoints to an existing MVC app can be as easy as a dll drop.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Full separation + Full application control <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse content" data-bs-parent="#featuresAcc1">
                                <p>
                                    It is important to defend your applications from any dll to be loaded to the application domain. Thus EV5.Mvc contains the necessary hooks and API for you to make sure only calid and securely signed code. It is still your responsibility ti use these features, but safety first is EV5.Mvc's primary concern too.
                                    While EV5.Mvc can extend your application in a very encapsulated manner, it is always the main application that is in control to choose which parts to use.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Rendering HTML simply <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse content" data-bs-parent="#featuresAcc1">
                                <p>
                                    For most modern applications HTML markup needs litle modification and processing. Client side javascript libraries are fully adept at manipulating the UI from client side.
                                    Thus the initial markup rendering needs to be simple and effective. EV5.Mvc still uses the notion of master page, partial views and sections, but these are location independent. 
                                    No special markup folder or file structure is needed, you are free to place markup templates to any location within your project.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span>04</span> Templates without spaghetti code <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-4" class="collapse content" data-bs-parent="#featuresAcc1">
                                <p>
                                    EV5.Mvc markup templates are well formed XMLs files, partial HTML code. No mix of imparative code and declarative markup is needed. Markup files are processed and understood as what they are: HTML snippets, nothing less and nothing more.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>
    </div>
</section>
<section id="features2" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-5 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <img src="/img/skills.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 pt-4 pt-lg-0  order-2 order-lg-1" data-aos="fade-left" data-aos-delay="100">
                <div class="accordion-list" id="featuresAcc2">
                    <ul>
                        <li>
                            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-5"><span>05</span> True to designer output <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-5" class="collapse show content" data-bs-parent="#featuresAcc2">
                                <p>
                                    Web designer output is usually nicely structured, however due to the processing needs and required folder structures it is often disected to unrecognizable pieces in the web applications.
                                    EV5.Mvc markup templates can and should fully conform to the designer page sections, without even the need to mix them with imparative code. 
                                    Original designer markup is only decorated with extra attributes to guide processing where needed.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-6" class="collapsed"><span>06</span> Access HTML as HTML <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-6" class="collapse content" data-bs-parent="#featuresAcc2">
                                <p>
                                    Whenever server processing of the view is needed the view is accessed and understood as HTML and not as an object structure, thus eliveating the need of serializations and additional formatting.
                                    Debugging of the EV5.Mvc views is simple as the processing code sees the same content as the browser.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-7" class="collapsed"><span>07</span> Opt-in view processing<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-7" class="collapse content" data-bs-parent="#featuresAcc2">
                                <p>
                                    EV5.Mvc is not an all knowing view-engine, that would spend time on analysing the and modifying the view for every possible current and future feature, such as data-binding, localization, custom extensions etc...
                                    With the fast evolution of client side javasript UI libaries many of these features are not needed. In EV5.Mvc you have to opt-in to features your views will use, thus you can optimize the perfromance, clean your code and use only what is needed during your processing.

                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-8" class="collapsed"><span>08</span>Allow extensibility by an easy pattern<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-8" class="collapse content" data-bs-parent="#featuresAcc2">
                                <p>
                                    Adding new view processing capablities is easily done via <a href="https://msdn.microsoft.com/en-gb/library/bb383977.aspx" target="_blank" style="display:inline; padding:unset">Extension Methods</a> and <a href="https://en.wikipedia.org/wiki/Fluent_interface#C.23" target="_blank" style="display: inline; padding: unset">fluent interfaces</a>.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Section -->
<!-- ======= Tutorials Section ======= -->
<section id="tutorials" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Tutorials</h2>
            <p>Here you can find the tutorials and articles describing EV5.Mvc. For samples please download the source code.</p>
        </div>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="box featured">
                    <h3>Embedded File System</h3>
                    <ul>

                        <li><i class="bx bx-check"></i> <a href="/Tutorial/RetrieveHtml">1. Setting up the Embedded File System and retrieving an image.</a></li>
                        <li><i class="bx bx-check"></i> <a href="/Tutorial/HtmlResult">2. Retrieve an HTML using the Embedded File system, or EmbeddedHtmlStringResult</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-6 mt-6 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <h3>Plugin System</h3>
                    <ul>
                        <li><i class="bx bx-check"></i><a href="/Tutorial/CreatePlugin" class="not-active">3. Creating EmbeddedPlugins using IEmbeddedPlugin interface </a></li>
                        <li><i class="bx bx-check"></i><a href="/Tutorial/InitializePlugin" class="not-active">4. Initializing plugins for your application</a></li>
                        @*<li><i class="bx bx-check"></i><a href="/Tutorial/MEFCatalog" class="not-active">6. Application MEF catalog</a></li>*@
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mt-6 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <div class="box featured">
                    <h3>View Engine</h3>
                    <ul>
                        <li><i class="bx bx-check"></i><a href="/Tutorial/RegisterViewEngine">5. Register the Embedded View Engine</a></li>
                        <li><i class="bx bx-check"></i><a href="/Tutorial/SimpleHtml">6. Simple html view</a></li>
                        <li><i class="bx bx-check"></i><a href="/Tutorial/SimpleMaster">7. Simple html view with a MasterPage</a></li>
                        <li><i class="bx bx-check"></i><a href="/Tutorial/SimpleMasterAndPartial">8. Simple html view with MasterPage and Partial Views</a></li>
                        <li><i class="bx bx-check"></i><a href="/Tutorial/Sections">9. Sections</a></li>
                        <li><i class="bx bx-check"></i><a href="/Tutorial/TypedViews">10. Typed Views and DataBinding</a></li>
                        <li><i class="bx bx-check"></i><a href="/Tutorial/ExtendingEve">11. Extending view functionality</a></li>
                        <li><i class="bx bx-check"></i><a href="/Tutorial/EveAttributes">12. EVE html attributes</a></li>
                        
                    </ul>

                </div>
            </div>
            <div class="col-lg-6 mt-6 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <h3>API and Utilities</h3>
                    <ul>
                        <li><i class="bx bx-check"></i><a href="/EmbeddedServices/GetActions">1. Get All available actions in the application</a></li>
                        <li><i class="bx bx-check"></i><a href="/EmbeddedServices/GetContentRootDirectoryContents">2. Get ContentRootFileProvider Files</a></li>
                        <li><i class="bx bx-check"></i><a href="/EmbeddedServices/GetWebRootDirectoryContents">3. Get WebRootFileProvider Files</a></li>
                    </ul>

                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Tutorials Section -->
<!-- ======= Demos Section ======= -->
<section id="demos" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
        </ul>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img">
                    <img src="/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>App 1</h4>
                    <p>App</p>
                    <a href="/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img">
                    <img src="/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <a href="/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img">
                    <img src="/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>App 2</h4>
                    <p>App</p>
                    <a href="/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img">
                    <img src="/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Card 2</h4>
                    <p>Card</p>
                    <a href="/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img">
                    <img src="/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Web 2</h4>
                    <p>Web</p>
                    <a href="/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img">
                    <img src="/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>App 3</h4>
                    <p>App</p>
                    <a href="/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img">
                    <img src="/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Card 1</h4>
                    <p>Card</p>
                    <a href="/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img">
                    <img src="/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Card 3</h4>
                    <p>Card</p>
                    <a href="/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img">
                    <img src="/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <a href="/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Demos Section -->
<!-- ======= Frequently Asked Questions Section ======= -->
<!--<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
        <div class="faq-list">
            <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui. </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
      Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in. </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="500">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
      Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>-->
<!-- End Frequently Asked Questions Section -->
<!-- ======= Download Section ======= -->
<section id="download" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Download</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
    </div>
</section>
<!-- End Contact Section -->
